# vscode
.vscode 

# Intellij
*.iml
.idea

# npm
node_modules

# BRAT needs main.js in the repo or a release — we track it.
# main.js

# Exclude sourcemaps
*.map

# obsidian
data.json

# Exclude macOS Finder (System Explorer) View States
.DS_Store
